# Ignore environment variables
Capstone/.env

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Django migration files
*/migrations/*

# Ignore Django cache, static, and media directories
/static/
/staticfiles/
/media/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore virtual environments
venv/
env/
lib/
node_modules/

# Ignore IDE and editor settings
.idea/                  # PyCharm settings
.vscode/                # VSCode settings

# Ignore log files
*.log

# Ignore temporary files created by editors
*.swp
*.swo
*~
*.bak
*.tmp

# Ignore local settings file
local_settings.py

# Ignore macOS system files
.DS_Store

# Ignore coverage files
.coverage
htmlcov/

# Ignore test and profiling output
.tox/
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
